[Desktop Entry]
Type=Application
Name=SoundSift
Comment=YouTube and Spotify MP3 Converter
Exec=/usr/bin/soundsift
Icon=soundsift
Terminal=true
Categories=AudioVideo;Utility;

